{% extends 'uate.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map of Selected Countries</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&callback=initMap"
      async
      defer
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      
    </style>
  </head>
  <body>
    <form method="GET">
      <label for="year">Select Year:</label>
      <select id="year" name="year">

        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <!-- Add more options for different years as needed -->
      </select>
      <button type="submit">Update</button>
    </form>
    <div class="flex justify-between">
      <div class=" w-2/4 p-10 h-screen overflow-y-auto bg-[#f8f8fc] rounded-md">
        <div>
            <button id="infoBtn1" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="showInfoContent1()">Layers & Legend</button>
<button id="infoBtn2" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="showInfoContent2()">Info</button>
          </div>
        
          
          <div id="infoContent1">
             <div class="box-shadow pt-5" id="info-card"></div>
             <p class="my-3 font-semibold"> Dataset summary </p>
            <canvas id="LineChart"></canvas>
            <canvas id="Line2Chart"></canvas>          
          </div>

            <p class="pt-5" id="infoContent2">
              Welcome to UATE web map! This dashboard is designed to provide an overview of trends of Ukrainian asylum seekers in Europe over the past decade. 
              Please note that the data visualization may take a moment to load.
            </p>

            <p class="pt-5" id="infoContent2">
              The asylum data presented in the charts is from the United Nations High Commission for Refugees (UNHCR) Refugee Statistics API. 
              It spans from 2013 to 2022 and reflects the number of asylum applicants, decisions made on the applications and the population of 
              Ukrainian nationals living with asylum status in the respective countries.  
            </p>
            <p class="pt-5" id="infoContent2">
              The project is more than just a data visualization; it's a narrative of human experience. It serves as a resource for migration studies students by shedding light on the trends and outcomes of Ukrainian asylum applications. 
              The aim is to foster a deeper understanding of the complexities involved in seeking refuge and the global responses to such crises.  
            </p>

            <p class="pt-5" id="infoContent2">
              We encourage you to share your thoughts, suggestions, or any observations you might have about this map and its content.   
            </p>
          

      </div>
      <div class="sticky top-0 h-screen w-[100%]" id="map">
      
      </div>
      

      
    </div>

    <script type="text/javascript">
                            var map;
                                        var ukraineCoords = { lat: 48.3794, lng: 31.1656 }; // Approximate coordinates for Ukraine

                                        var coordinatesList = JSON.parse(
                                          "{{ coordinates_list_json|safe|escapejs }}"
                                        );
                                        console.log("----coordinatesList----")
                     
                                        console.log(coordinatesList);
                                        function initMap() {
                                          // New map
                                          map = new google.maps.Map(document.getElementById("map"), {
                                            zoom: 4,
                                            center: { lat: 54.526, lng: 15.2551 }, // Central point of Europe
                                          });

                                          // Extend bounds for each marker
                                          var bounds = new google.maps.LatLngBounds();
                                          for (var i = 0; i < coordinatesList.length; i++) {
                                            addMarker(coordinatesList[i]);
                                          }

                                          addUkMarker({ coords: ukraineCoords });

                                          // Add Marker Function
                                          ;
                                          function addMarker(props) {
                                            var marker = new google.maps.Marker({
                                              position: props.coords,
                                              map: map,
                                              icon: {
                                                url: "{% static 'images/location-icon.png' %}",
                                                scaledSize: new google.maps.Size(40, 40), // You can adjust the size
                                              },
                                            });

                                            console.log(props);

                                            // Check content
                                            if (props.content) {
                                              var infoWindow = new google.maps.InfoWindow({
                                                content: props.content,
                                              });
                                            

                                              marker.addListener("click", function () {
                                                // Update card content
                                                updateInfoCard(props.card_data);
                                                drawLineToUkraine(props.coords);
                                                showInfoContent1();
                                                hideLineGraphs();
                                              });
                                            }

                                            // Extend the bounds to include each marker's position
                                            bounds.extend(marker.position);
                                          }

                                          function addUkMarker(props) {
              var marker = new google.maps.Marker({
                  position: props.coords,
                  map: map,
                  icon: {
                      url: "{% static 'images/Ukraine-icon.png' %}",
                      scaledSize: new google.maps.Size(40, 40) // You can adjust the size
                  }
              });

              // ... rest of your existing code
          }

                                          // Now fit the map to the newly inclusive bounds
                                          map.fitBounds(bounds);
                                        }
                                       

                                        function updateInfoCard(data) {
                                          console.log(data);
                                          var card = document.getElementById("info-card");
                                           let malePercentage = Math.round((data.m_total / (data.f_total + data.m_total)) * 100);
                                              if (isNaN(malePercentage)) {
                                                  malePercentage = 'No data available';
                                              } else{
                                                malePercentage = `${Math.round((data.m_total / (data.f_total + data.m_total)) * 100)} %`;
                                              }

                                            let femalePercentage = Math.round((data.f_total / (data.f_total + data.m_total)) * 100);
                                              if (isNaN(femalePercentage)) {
                                                  femalePercentage = 'No data available';
                                              } else{
                                                femalePercentage =`${Math.round((data.f_total / (data.f_total + data.m_total)) * 100)} %`;
                                              }

                                            let applications = data.applied;
                                            if (applications==null) {
                                              applications = 'No data available';
                                            } else{
                                              applications = data.applied;
                                            }
                                          card.style.display = "block";
                                          card.innerHTML = `
                                          <h1 class="text-blue-500 font-bold text-2xl uppercase">${data.coa_name}</h1>
                                          <p class="font-medium text-blue-500 text-2xl">${data.year}</p>
                                          <div class="h-[2px] bg-blue-500 mt-3 w-[100%]"></div>

                                          <p class="py-4"> lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                                          <div class="flex gap-5 items-center mt-3">
                                            <h2 class="text-blue-500 text-4xl">${applications}<h2>
                                            <p class="text-2xl">applications</p>
                                          </div>

                                          <p class="py-4"> lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>

                                          <div class="flex gap-3 mt-4">
                                          <div class="flex gap-2 items-center border-2 border-blue-500 p-5">
                                              <p class="text-7xl text-gray-500"><i class="fas fa-female"></i></p>
                                              <p class="text-3xl">${femalePercentage}</p>
                                          </div>
                                          <div class="flex gap-2 items-center border-2 border-blue-500 p-5">
                                              <p class="text-7xl text-gray-500"><i class="fas fa-male"></i></p>
                                              <p class="text-3xl">${malePercentage}</p>
                                          </div>
                                      </div>

                                      <p class="py-4"> lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>


                                        
                                        <canvas id="decChart"></canvas>
                                        
                                        <canvas id="myLineChart"></canvas>

                                          
                                          <p>Year: ${data.year}</p>
                                          <p>applied: ${data.applied }</p>
                                          <p>decision closed: ${data.dec_closed}</p>
                                          <p>Decision level: ${data.dec_level}</p>
                                          <p>Decision recognized: ${data.dec_recognized}</p>
                                          <p>Decision rejected: ${data.dec_rejected}</p>
                                          <p>total decisions: ${data.dec_total}</p>
                                          <p>total females: ${data.f_total}</p>
                                          <p>total decisions: ${data.m_total}</p>
                                          <p>procedure type: ${data.procedure_type}</p>
                                          <p>procedure type: ${data.coa_name}</p>
                                          <p>procedure type: ${data.coo_name}</p>
                                          `;
                                         

   var ctx = document.getElementById("decChart").getContext("2d");

  // Create the data for the chart
  var chartData = {
    labels: ["Decisions rejected", "Decisions recognized", "Decisions closed", "other decisions"],
    datasets: [
      {
        label: "Decision Percentage ",
        data: [
          Math.round((data.dec_rejected / (data.dec_total)) * 100),
          Math.round((data.dec_recognized / (data.dec_total)) * 100),
          Math.round((data.dec_closed / (data.dec_total)) * 100),
          Math.round(((data.dec_other/ (data.dec_total)) * 100)),
        ],
        backgroundColor: ["rgba(255, 99, 132, 0.5)", "rgba(54, 162, 235, 0.5)", "rgba(255, 206, 86, 0.5)", "rgba(75, 192, 192, 0.5)"],
        borderColor: ["rgba(255, 99, 132, 1)", "rgba(54, 162, 235, 1)", "rgba(255, 206, 86, 1)", "rgba(75, 192, 192, 1)"],
        borderWidth: 1,
      },
    ],
  };

  // Create and display the chart
  var myChart = new Chart(ctx, {
    type: "bar",
    data: chartData,
    options: {
      scales: {
        y: {
          beginAtZero: true,
          max: 100,
        },
      },
    },
  });
   

  

 

                                        }
                                        var currentLine = null;
                                      function drawLineToUkraine(coaCoords) {
                    if (currentLine) {
                        currentLine.setMap(null); // Remove existing line if present
                    }

                    var lineSymbol = {
                        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                    };

                    var line = new google.maps.Polyline({
                        path: [ukraineCoords, coaCoords],
                        icons: [{
                            icon: lineSymbol,
                            offset: '0%'
                        }],
                        map: map,
                        geodesic: true,
                        strokeColor: "red",
                        strokeOpacity: 1.0,
                        strokeWeight: 2,
                    });

                    currentLine = line; // Update current line

                    animateArrow(line); // Call the function to animate the arrow
                }

                function animateArrow(line) {
                    var count = 0;
                    window.setInterval(function() {
                        count = (count + 1) % 200; // Adjust speed and loop

                        var icons = line.get('icons');
                        icons[0].offset = (count / 2) + '%'; // Move the icon
                        line.set('icons', icons);
                    }, 20); // Adjust for speed
                }


                                        {% comment %} function drawDemo() {
                          function drawLine(startCoords, endCoords) {
                              const line = new google.maps.Polyline({
                                  path: [startCoords, endCoords],
                                  geodesic: true,
                                  strokeColor: 'red',
                                  strokeOpacity: 1.0,
                                  strokeWeight: 2,
                              });

                              line.setMap(map);
                          }

                          const startCoords = { lat: 47.516231, lng: 14.550072 };
                          const endCoords = { lat: 46.227638, lng: 2.213749 };
                          drawLine(startCoords, endCoords);
                      } {% endcomment %}

                      function updateYear() {
        var selectedYear = document.getElementById("year").value;
        var currentUrl = window.location.href;

        // Replace the existing year parameter in the URL with the selected year
        var updatedUrl = currentUrl.replace(/year=\d{4}/, "year=" + selectedYear);

        // Redirect to the updated URL
        window.location.href = updatedUrl;
      }

    function showInfoContent1() {
        let infoContent1 = document.getElementById("infoContent1");
        let infoContent2 = document.getElementById("infoContent2");

        let infoBtn1 = document.getElementById("infoBtn1");
        let infoBtn2 = document.getElementById("infoBtn2");
        
        infoContent2.classList.add("hidden");
        infoContent1.classList.remove("hidden");
        infoBtn1.classList.add("bg-red-500");
        infoBtn2.classList.remove("bg-red-500");


    }

    function showInfoContent2() {
        let infoContent1 = document.getElementById("infoContent1");
        let infoContent2 = document.getElementById("infoContent2");

        let infoBtn1 = document.getElementById("infoBtn1");
        let infoBtn2 = document.getElementById("infoBtn2");
        
        infoContent1.classList.add("hidden");
        infoContent2.classList.remove("hidden");
        infoBtn2.classList.add("bg-red-500");
        infoBtn1.classList.remove("bg-red-500");

    }

    function hideLineGraphs() {
        let lineGraphs = document.getElementById("LineChart");
        let line2Graphs = document.getElementById("Line2Chart");
        lineGraphs.classList.add("hidden");
        line2Graphs.classList.add("hidden");

    } 

   

 let litx = document.getElementById("LineChart").getContext("2d");

// Preprocess the data from "applications" and "decisions"
let applicationData = "{{ applications | safe | escapejs }}";
let newApplicationData;
let decisionData = "{{ decisions | safe | escapejs }}";
let newDecisionData;

try {
    // If the data is a JSON string, this will parse it into a JavaScript object
    newApplicationData = JSON.parse(applicationData);
    console.log("----newApplicationData----");
    console.log(newApplicationData);
    newDecisionData = JSON.parse(decisionData);
    console.log("----newDecisionData----");
    console.log(newDecisionData);
} catch (e) {
    // If there was an error parsing, the data might already be a JavaScript object
    console.error("Error parsing data: ", e);
    newApplicationData = applicationData;
    newDecisionData = decisionData;
}
console.log("------newApplicationData------");
console.log(newApplicationData);
console.log("------newDecisionData------");
console.log(newDecisionData);


// Extract the relevant data for the chart
let labels = ["2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020","2021","2022"];


// Create the data for the chart
let lchartData = {
  labels: labels,
  datasets: [
    {
      label: "Decisions",
      data: [{{ total_decisions_by_year.2013 }}, {{ total_decisions_by_year.2014 }}, {{ total_decisions_by_year.2015 }}, {{ total_decisions_by_year.2016 }}, {{ total_decisions_by_year.2017 }}, {{ total_decisions_by_year.2018 }}, {{ total_decisions_by_year.2019 }}, {{ total_decisions_by_year.2020 }}, {{ total_decisions_by_year.2021 }}, {{ total_decisions_by_year.2022 }}],
      backgroundColor: "rgba(255, 99, 132, 0.5)",
      borderColor: "rgba(255, 99, 132, 1)",
      borderWidth: 1,
    },
    {
      label: "applications",
      data: [{{ total_applications_by_year.2013 }}, {{ total_applications_by_year.2014 }}, {{ total_applications_by_year.2015 }}, {{ total_applications_by_year.2016 }}, {{ total_applications_by_year.2017 }}, {{ total_applications_by_year.2018 }}, {{ total_applications_by_year.2019 }}, {{ total_applications_by_year.2020 }}, {{ total_applications_by_year.2021 }}, {{ total_applications_by_year.2022 }}],
      backgroundColor: "rgba(54, 162, 235, 0.5)",
      borderColor: "rgba(54, 162, 235, 1)",
      borderWidth: 1,
    },
  ],
};

// Create and display the chart as a line chart
let myLineChart = new Chart(litx, {
  type: "line",
  data: lchartData,
  options: {
    scales: {
      y: {
        beginAtZero: true,
      },
    },
  },
});

 let linetx = document.getElementById("Line2Chart").getContext("2d");

 let secondlabels = ["2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020","2021"];


// Create the data for the chart
let linchartData = {
  labels: labels,
  datasets: [
    {
      label: "Female",
      data: [{{ total_female_by_year.2013 }}, {{ total_female_by_year.2014 }}, {{ total_female_by_year.2015 }}, {{ total_female_by_year.2016 }}, {{ total_female_by_year.2017 }}, {{ total_female_by_year.2018 }}, {{ total_female_by_year.2019 }}, {{ total_female_by_year.2020 }}, {{ total_female_by_year.2021 }}],
      backgroundColor: "rgba(255, 99, 132, 0.5)",
      borderColor: "rgba(255, 99, 132, 1)",
      borderWidth: 1,
    },
    {
      label: "male",
      data: [{{ total_male_by_year.2013 }}, {{ total_male_by_year.2014 }}, {{ total_male_by_year.2015 }}, {{ total_male_by_year.2016 }}, {{ total_male_by_year.2017 }}, {{ total_male_by_year.2018 }}, {{ total_male_by_year.2019 }}, {{ total_male_by_year.2020 }}, {{ total_male_by_year.2021 }}],
      backgroundColor: "rgba(54, 162, 235, 0.5)",
      borderColor: "rgba(54, 162, 235, 1)",
      borderWidth: 1,
    },
  ],
};

// Create and display the chart as a line chart
let myLine2Chart = new Chart(linetx, {
  type: "line",
  data: linchartData,
  options: {
    scales: {
      y: {
        beginAtZero: true,
      },
    },
  },
});



 

console.log(["{{ total_decisions_by_year.2013 }}, {{ total_decisions_by_year.2014 }}, {{ total_decisions_by_year.2015 }}, {{ total_decisions_by_year.2016 }}, {{ total_decisions_by_year.2017 }}, {{ total_decisions_by_year.2018 }}, {{ total_decisions_by_year.2019 }}, {{ total_decisions_by_year.2020 }}, {{ total_decisions_by_year.2021 }}, {{ total_decisions_by_year.2022 }}"]);
console.log("{{total_decisions_by_year.2013 }}");


document.addEventListener("DOMContentLoaded", function () {
  let infoContent1 = document.getElementById("infoContent1");
        let infoContent2 = document.getElementById("infoContent2");

        let infoBtn1 = document.getElementById("infoBtn1");
        let infoBtn2 = document.getElementById("infoBtn2");
        
        infoContent1.classList.add("hidden");
        infoContent2.classList.remove("hidden");
        infoBtn2.classList.add("bg-red-500");
        infoBtn1.classList.remove("bg-red-500");
});







       
    </script>
  </body>
</html>

{% endblock %} ```