{% load static %}

<div class="bg-gray-800 w-full h-20 z-[100] md:px-24">
  <div
    class="flex justify-between items-center w-full h-full md:px-4 py-4 px-2 2xl:px-16 rounded"
  >
    <div class="flex gap-3 items-center py-2">
      <img
        class="w-16 h-16"
        src="{% static 'images/logo.png' %}"
        alt="logo"
      />
      
      <a class="text-[#eee] font-bold text-3xl font-allura uppercase" href="">Uate</a>
    </div>
    <div>
      <ul class="hidden md:flex font-barlow" style="color: #ecf0f3">
        <li
          class="ml-10 font-bold text-[#eee] uppercase text-xl hover:scale-105 transition-colors duration-300"
        >
          <a href="">Ukrainian Asylum Tracking in Europe</a>
        </li>

      </ul>
     
    </div>
     <div
        id="mobileMenuIcon"
        class="uppercase hover:text-[#cda873] hover:scale-105 transition-all duration-all cursor-pointer text-xl font-bold font-barlow"
        style="color: #ecf0f3"
      >
        data 
      </div>
   
  </div>

  <div
    id="mobileMenu"
    class="fixed right-0 top-0 h-screen w-1/4 bg-gray-800 z-[1000] hidden"
  >
    <div>
      <div class="flex justify-between items-center w-full mt-3 px-3">
        <div id="close-icon" class="cursor-pointer text-[#fff] text-3xl">
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-col justify-center items-center text-[#fff] font-barlow py-4">
        <ul>
          <li class="ml-3 mt-10 text-xl text-[#fff] uppercase">
            <a href="" onmouseover="showInfo()" onmouseout="hideInfo()">WFS</a>
          </li>
          <div id="dataInfo" class="hidden absolute right-52 top-20 bg-gray-700 text-white p-4 w-64">
        <!-- Add your information content here -->
        Information about Data...
    </div>
          <li class="ml-3 mt-10 text-xl text-[#fff] uppercase">
            <a href="" onmouseover="showExcel()" onmouseout="hideExcel()">Excel</a>
          </li>
          <div id="excelInfo" class="hidden absolute right-52 top-36 bg-gray-700 text-white p-4 w-64">
        <!-- Add your information content here -->
        Information about Data...
    </div>
          {% comment %} {% if user.is_authenticated %}
          <li class="ml-3 mt-10 text-xl uppercase">
            <a href="">My account</a>
          </li>
          {% endif %} {% if user.is_authenticated %}
          <li class="ml-3 mt-10 text-xl uppercase">
            <a
              class="py-1 hover:text-[#cda873] hover:scale-105 transition-all duration-all rounded-md font-medium"
              href="{% url 'logout' %}"
            >
              Logout
            </a>
          </li>
          {% else %} {% endcomment %}
          {% comment %} <li class="ml-3 mt-10 text-xl uppercase">
            <a class="flex flex-col">
              <span
                class="py-1 hover:text-[#cda873] hover:scale-105 transition-all duration-all rounded-md font-medium"
              >
                <a href="">Register </a>
              </span>

              <span
                class="px-2 py-1 hover:text-[#cda873] hover:scale-105 transition-all duration-all rounded-md text-[#fff] font-medium"
              >
                <a href="">Login</a>
              </span>
            </a>
          </li> {% endcomment %}
        </ul>
      </div>
    </div>
  </div>

  <script>
    const handleMobileNav = () => {
      const mobileMenu = document.getElementById("mobileMenu");
      const body = document.body;
      if (mobileMenu.classList.contains("hidden")) {
        mobileMenu.classList.remove("hidden");
        body.style.overflow = "hidden";
      } else {
        mobileMenu.classList.add("hidden");
        body.style.overflow = "auto";
      }
    };

    const mobileMenuIcon = document.getElementById("mobileMenuIcon");
    const closeIcon = document.getElementById("close-icon");
    mobileMenuIcon.addEventListener("click", handleMobileNav);
    closeIcon.addEventListener("click", handleMobileNav);

     let infoTimeout;

function showInfo() {
    clearTimeout(infoTimeout); // Clear any existing timeout
    document.getElementById('dataInfo').classList.remove('hidden');
}

function scheduleHideInfo() {
    // Schedule the hiding, allows time for the user to move the mouse to the info window
    infoTimeout = setTimeout(hideInfo, 500);
}

function hideInfo() {
    if (!document.getElementById('dataInfo').matches(':hover')) {
        // Only hide if the user is not hovering over the info window
        document.getElementById('dataInfo').classList.add('hidden');
    }
}

document.getElementById('dataInfo').addEventListener('mouseleave', scheduleHideInfo);

let excelTimeout;

function showExcel() {
    clearTimeout(excelTimeout); // Clear any existing timeout
    document.getElementById('excelInfo').classList.remove('hidden');
}

function scheduleHideExcel() {
    // Schedule the hiding, allows time for the user to move the mouse to the info window
    infoTimeout = setTimeout(hideExcel, 500);
}

function hideExcel() {
    if (!document.getElementById('excelInfo').matches(':hover')) {
        // Only hide if the user is not hovering over the info window
        document.getElementById('excelInfo').classList.add('hidden');
    }
}

document.getElementById('excelInfo').addEventListener('mouseleave', scheduleHideExcel);


    {% comment %} function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    } {% endcomment %}

    {% comment %} function showPosition(position) {
      let lat = position.coords.latitude;
      let lng = position.coords.longitude;

      //from the coordinates get City

      // hit AJAX request to googlemaps api endpoint and get the location data using those lat and lng
      let GOOGLE_API_KEY = "{{ GOOGLE_API_KEY }}";
      let url =
        "https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
        lat +
        "," +
        lng +
        "+&key=" +
        GOOGLE_API_KEY;

      $.ajax({
        url: url,
        type: "GET",
        success: function (response) {
          let current_location = response.results[0].formatted_address;
          console.log(current_location);
          x.value = current_location;
          sessionStorage.setItem("current_location", current_location);
          window.location = "?lat=" + lat + "&lng=" + lng;
        },
      });
    } {% endcomment %}
  </script>
</div>
